
button{
    display: block;
}

.box{
    float: left;
    position: relative;
    top: 3em;
    margin: 1em;
    height: 6em;
    width: 6em;
    background-color: green;
}

h1{
    text-align: center;
    color: black;
    font-size: 2em;;
}

.info_blast{
    height: 12em;
    width: auto;
    background-color: lightseagreen;
}